*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins' sans-serif;
}

.container{
  width: 100%;
  min-height: 100vh;
  background: lavender;
  padding: 10px;
}

.todo{
  width: 100%;
  max-width: 550px;
  background: white;
  margin: 100px auto 20px;
  padding: 50px 40px 80px;
  border-radius: 15px;
}

.todo h2{
  color: brown;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.list{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: lavenderblush;
  border-radius: 30px;
  padding-left: 30px;
  margin-bottom: 25px;
}

input{
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  padding: 10px;
}

button{
  border: none;
  outline: none;
  padding: 10px 40px;
  background: lightcoral;
  color: black;
  font-size: 15px;
  font-weight: bolder;
  cursor: pointer;
  border-radius: 30px;
}

ul li{
  list-style: none;
  font-size: 20px;
  padding: 10px 15px 10px 40px;
  user-select: none;
  cursor: pointer;
  position: relative;
}

ul li::before{
  content: '';
  position: absolute;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  top: 12px;
  left: 8px;
}

ul li.check{
  color: black;
  text-decoration: line-through;
}

ul li span{
  position: absolute;
  right: 0;
  top: 5px;
  height: 30px;
  width: 30px;
  font-size: 15px;
  font-weight: bolder;
  color: red;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
}

ul li span:hover{
  background: lavender;
}